
.link{
  background: rgb(188, 134, 106);
  
}

.link-font-awesome {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}


.link-booking {
  background: rgb(188, 134, 106);
  
}

.link-airbnb-brands {
  background: rgb(188, 134, 106);
  
}

.link-calendar {
  background: rgb(188, 134, 106);
  );
}

.link-photo-film-solid {
  background: rgb(188, 134, 106);
}

/* Iframe DIV CODE */
.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;

}

.iframe-container iframe {
  border: 0;
  height: 100%;
  left:0;
  position: absolute;
  top: 0;
  width: 100%;

}